*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  margin: 0;
  display: flex;
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}
